<% provide(:title, "お問い合わせ") %>
<h1>お問い合わせ</h1>
<p>ご不明点やご要望など、運営者に問い合わせたい内容がある場合、お手数ですが下記フォームまでお願いします。</p>
<div>
  <label for="name">お名前</label>
  <input type="text" id="name">
</div>
<div>
  <label for="mail">メールアドレス</label>
  <input type="text" id="mail">
</div>
<div>
  <label for="content">お問い合わせ内容</label>
  <textarea id="content"></textarea>
</div>
<div>
  <button>送信</button>
</div>