<% provide(:title, "ヘルプ") %>
<h1>ヘルプ</h1>
<p>ライター案件管理ツールのヘルプです</p>
<h2>ヘルプ①</h2>
<p>ヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプ</p>
<h2>ヘルプ②</h2>
<p>ヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプ</p>
<h2>ヘルプ③</h2>
<p>ヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプヘルプ</p>
