<% provide(:title, "#{Date.today.strftime('%Y年%m月')}の案件一覧") %>
<h1><%= yield(:title) %></h1>
<table>
  <thead>
    <tr>
      <th>クライアント</th>
      <th>案件</th>
      <th>報酬</th>
      <th>最終納期</th>
      <th>次の期日</th>
      <th>進捗</th>
      <th>目標作業時間</th>
      <th>実際の作業時間</th>
      <th>時給</th>
      <th>添付ファイル</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>