@charset "utf-8";

/* universal */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: verdana, sans-serif;
  color: #333;;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid silver;
}

th,
td {
  padding: 8px;
}

th {
  font-weight: normal;
  text-align: center;
}

header,
main,
footer {
  padding: 0 30px;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: white;
}

:root {
  --main-color: #ee7800;
  --sub-color: #fff8f2;
  --menu--color: #323232;
  --light--silver: #f8f8f8
}

/* header */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  position: fixed;
  width: 100%;
}


nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

#nav-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#nav-name, #open-menu, #nav-button {
  flex: 0 0 auto;
}

#nav-list {
  padding: 0;
  margin: 0;
  align-items: center;
}

#nav-list li {
  margin: 0 50px;
  border-bottom: 2px solid transparent;
}

#nav-list li.active {
  border-bottom: 2px solid var(--main-color);
}

#nav-list a {
  color: var(--menu--color);
}

#nav-list a.active {
  font-weight: bold;
}

#nav-name {
  margin: 0 20px;
  margin-left: auto;
}

.header-icon {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header-icon p {
  font-size: 10px;
}

#login-icon {
  display: none;
}

#open-menu {
  cursor: pointer;
}

#close-menu {
  display: none;
}

.overlay {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 75px;
  right: 30px;
  background: white;
  width: 150px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.overlay.show-menu {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.overlay a {
  width: 100%;
  color: var(--menu--color);
  padding: 5px 0;
  transition: background-color 0.3s, color 0.3s;
  display: block;
}

.overlay a:last-child {
  margin-bottom: 0;
}

.overlay #show-menu {
  display: flex;
}

#nav-button {
  align-items: center;
}

.sp-overlay-menu {
  display: none;
}

.btn {
  display: inline-block;
  border-radius: 8px;
}

#nav-button .btn {
  margin: 0 15px;
  padding: 5px 8px;
}

.btn-outline {
  background-color: white;
  font-weight: bold;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn-outline a {
  color: var(--main-color);
}

.btn-fill {
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
  border: var(--main-color);
}

.btn-fill a {
  color: var(--main-color);
}

/* main */

main {
  padding-top: 96px;
  padding-bottom: 30px;
  background: var(--sub-color);
}

/* signup and login form */

.form-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 600px;
  padding: 30px;
  margin: 30px auto;
}

.form-container h1 {
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid var(--main-color);
}

.form-container .form-group {
  margin: 15px 30px 0;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input {
  box-sizing: border-box;
  border: 1px solid lightgray;
}

.form-container input:focus {
  border: 1px solid var(--main-color);
  outline: none;
}

.form-control {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.form-control:focus {
  border: 1px solid black;
  outline: 0;
}

.form-text {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.btn-submit {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  padding: 10px;
}

/* errors form */

.alert {
  background-color: #FFF0F5;
  padding: 10px;
}

#error_explanation {
  width: 100%;
  color: red;
  margin-bottom: 20px;
}

.field_with_errors .form-control {
  border: 1px solid red;
}

.field_with_errors .form-text {
  margin-left: 0;
}

/* alert message */

.alert {
  margin: 0 auto;
  width: 480px;
  text-align: center;
}

.alert-danger {
  color: red;
}

/* terms & privacy_policy */

.terms-policy-container {
  margin: 0 auto;
  width: 70%;
}

.terms-policy-container h1,
.terms-policy-container h2 {
  margin: 24px 0;
}

.terms-policy-date {
  margin-bottom: 16px;
  text-align: right;
}

.terms-policy {
  padding: 15px 30px;
  background-color: white;
}

.terms-policy p, .terms-policy li {
  margin: 16px 0;
  font-size: 14px;
}

.terms-policy li {
  list-style:decimal;
}

/* loggedin-container */

.loggedin-container {
  margin: 0 16px 16px;
  padding: 30px;
}

.loggedin-container h1 {
  border-bottom: 1px solid var(--main-color);
}

/* projects */

#projects-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0;
  gap: 30%;
}

#project-form {
  width: 30%;
  padding: 16px;
  background-color: #fffaf4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#project-form h2 {
  margin-bottom: 20px;
  color: var(--main-color);
  border-bottom: 1px solid lightgray;
}

#project-form span {
  color: red;
}

.project-form-group {
  margin-bottom: 20px;
}

.project-form-group label {
  display: block;
  font-size: 14px;
}

.project-form-group span {
  color: red;
  margin-left: 5px;
}

.project-form-group input,
.project-form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.project-form-group .form-control {
  width: 100%;
  margin-top: 5px; 
}

.other-task {
  display: none;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.checkbox-wrapper input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.project-form-group input[type="date"] {
  width: 100%;
  margin-bottom: 5px;
}

.checkbox-label {
  font-size: 12px !important;;
  margin-left: 5px;
  font-weight: normal;
}

.project-submit-group {
  text-align: center;
}

#project-submit {
  width: 100px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  padding: 4px 8px;
}

/* footer */

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background: darkgray;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer li {
  margin: 10px 50px;
  border-bottom: 2px solid transparent;
}

footer a {
  color: white;
}

/* miscellaneous */

.debug_dump {
  box-sizing: border-box;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding: 10px;
  color: red;
  background-color: #FFF0F5;
}

/* hover */

@media (hover: hover) and (pointer: fine) {
  .btn-fill:hover {
    opacity: .7;
  }

  .btn-outline:hover {
    background: whitesmoke;
  }

  #nav-list li:hover {
    border-bottom: 2px solid var(--main-color);
  }

  .header-icon:hover {
    cursor: pointer;
    background-color: var(--light--silver);
  }
  .overlay a:hover {
    color: white;
    background: var(--main-color);
  }

  footer li:hover {
    border-bottom: 2px solid white;
  }
}

/* tablet breakpoint =< 960px */

@media (max-width: 960px) {
}

/* smart phone breakpoint =< 768px */

@media (max-width: 768px) {
  /* header */

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  header nav {
    display: none;
  }

  #nav-button {
    display: none;
    margin: 0 auto;
  }

  #login-icon {
    display: block;
  }

  .sp-overlay-menu {
    display: block;
  }

  /* main */

  main {
    padding: 70px 10px 10px;
  }

  body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent; 
  }

  .form-container .form-group {
    margin: 15px 0;
  }

  .terms-policy-container {
    width: 100%;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100% - 75px);
    overflow-y: auto;
    z-index: 999;
  }

  .overlay li {
    font-size: 20px;
    padding: 15px 0;
    background: white;
    border-bottom: 1px solid silver;
  }

  .overlay li:first-child {
    border-top: 1px solid silver;
  }

  .overlay.show-menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  // スマホだと表がはみ出てブラウザ画面が遠くなるので、一時的に非表示
  // width: 100％でも解決しない;
  #projects-table {
    display: none;
  }

  /* alert message */

  .alert {
    width: 80%;
    text-align: center;
  }

  /* footer */

  footer ul {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    flex-direction: column;
  }
}