@charset "utf-8";

/* universal */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: var(--character-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

a {
  color: #0000ff;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  cursor: pointer;
}

header,
main,
footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.container {
  background-color: white;
}

:root {
  --background--lightgray-color: #F9FAFB;
  --backgrond--dimgray-color: #696969;
  --border-color: #d3d3d3;
  --menu-sidebar-color: whitesmoke;
  --character-color: #333;
  --content-width: 1500px;
  --content-margin-width: 10%;
}

/* header */

header {
  width: 100%;
  background: var(--menu-sidebar-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: var(--content-width);
  margin: 0 var(--content-margin-width);
}

.header-right-container {
  display: flex;
}

.header-icon {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#open-menu {
  cursor: pointer;
}

#close-menu {
  display: none;
}

.header-sidebar {
  background-color: white;
  width: 100%;
}

/* main */

main {
  width: 100%;
  padding-top: 55.7px; 
  background: var(--backgrond--lightgray-color);
}

.main-container {
  max-width: var(--content-width);
  margin: 0 var(--content-margin-width);
}

/* signup and login form */

.form-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 600px;
  padding: 30px;
  margin: 30px auto;
}

.form-container h1 {
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid var(--main-color);
}

.form-container .form-group {
  margin: 15px 30px 0;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input {
  box-sizing: border-box;
  border: 1px solid lightgray;
}

.form-container input:focus {
  border: 1px solid var(--main-color);
  outline: none;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  user-select: none;
}

.checkbox input[type="checkbox"] {
  vertical-align: middle;
}

.checkbox span {
  font-weight: normal;
  font-size: 14px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.form-control:focus {
  border: 1px solid black;
  outline: 0;
}

.not-have-account {
  display: block;
  text-align: center;
  text-decoration: underline;
}

.btn-submit {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  padding: 10px;
}

/* errors form */

.alert {
  background-color: #FFF0F5;
  padding: 10px;
}

#error_explanation {
  width: 100%;
  color: red;
  margin-bottom: 20px;
}

.field_with_errors .form-control {
  border: 1px solid red;
}

.field_with_errors .form-text {
  margin-left: 0;
}

/* projects */

table, th, tr, td {
  border: 1px solid var(--border-color);
}

#project-table {
  width: calc(100% - 40px);
  margin: 10px 20px;
}



/* alert message */

.alert {
  margin: 0 auto;
  width: 480px;
  text-align: center;
}

.alert-danger {
  color: red;
}

/* terms & privacy_policy */

.terms-policy-container {
  margin: 0 auto;
  width: 70%;
}

.terms-policy-container h1,
.terms-policy-container h2 {
  margin: 24px 0;
}

.terms-policy-date {
  margin-bottom: 16px;
  text-align: right;
}

.terms-policy {
  padding: 15px 30px;
  background-color: white;
}

.terms-policy p, .terms-policy li {
  margin: 16px 0;
  font-size: 14px;
}

.terms-policy li {
  list-style:decimal;
}


/* footer */

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--background--lightgray-color);
  position: relative;
}

.footer-container {
  margin: 0 var(--content-margin-width);
  max-width: var(--content-width);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer li {
  margin: 10px 50px;
  border-bottom: 2px solid transparent;
}

footer a {
  color: var(--character-color);
}

/* miscellaneous */

.debug_dump {
  box-sizing: border-box;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding: 10px;
  color: red;
  background-color: #FFF0F5;
}

/* hover */

@media (hover: hover) and (pointer: fine) {
  .btn-fill:hover {
    opacity: .7;
  }

  .btn-outline:hover {
    background: whitesmoke;
  }

  #nav-list li:hover {
    border-bottom: 2px solid var(--main-color);
  }

  .header-icon:hover {
    cursor: pointer;
    background-color: var(--light--silver);
  }

  .overlay a:hover {
    color: white;
    background: var(--main-color);
  }

  .edit-header li:hover {
    background: var(--sub-color);
    border-bottom: 1px solid var(--main-color);
  }

  footer li:hover {
    border-bottom: 2px solid white;
  }
}

/* tablet breakpoint =< 960px */

@media (max-width: 960px) {
}

/* smart phone breakpoint =< 768px */

@media (max-width: 768px) {
  /* header */

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  header nav {
    display: none;
  }

  #nav-button {
    display: none;
    margin: 0 auto;
  }

  #login-icon {
    display: block;
  }

  .sp-overlay-menu {
    display: block;
  }

  /* main */

  main {
    padding: 70px 10px 10px;
  }

  body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent; 
  }

  .form-container .form-group {
    margin: 15px 0;
  }

  .terms-policy-container {
    width: 100%;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100% - 75px);
    overflow-y: auto;
  }

  .overlay li {
    font-size: 20px;
    padding: 15px 0;
    background: white;
    border-bottom: 1px solid silver;
  }

  .overlay li:first-child {
    border-top: 1px solid silver;
  }

  .overlay.show-menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  /* alert message */

  .alert {
    width: 80%;
    text-align: center;
  }

  /* footer */

  footer ul {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    flex-direction: column;
  }
}